@use '../mixins/responsive.scss' as *;


header{
    border-bottom: 1px solid white;
    @include responsive(laptop){
        margin-right: 95px;
        margin-left: 95px;
    }
}

.nav {
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;

    &__text{
        display: none;

        @include responsive(laptop){
            display: block;
            color: white;
            text-transform: uppercase;
            font-family: 'Futura', sans-serif;
            transform: translateX(3rem);
        }
    }

    &__button{
        display: none;
        @include responsive(laptop){
            display: inline;
            color: var(--black-color-bg);
            font-family: 'Futura Italic', sans-serif;
            text-transform: uppercase;
            font-size: .9rem;
            background-color: var(--green-color);
            text-align: center;
            padding: .7rem;
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 37px;
            margin-right: 4rem;
            font-weight: 900;
            &:hover{
                background-color: var(--green-color-hover);
            }
        }
    }

    @include responsive(laptop){
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
}

.logo {
    padding-top: 2.6rem;
    margin: auto;
    padding-bottom: 1.3rem;
    @include responsive(laptop){
        margin: 0;
        margin-left: 4rem;
        padding: 0;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }
}