header{
    border-bottom: 1px solid white;
}

.nav {
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.logo {
    padding-top: 2.6rem;
    margin: auto;
    padding-bottom: 1.3rem;
}