@use '../mixins/responsive.scss' as *;


header{
    @include responsive(laptop){
        margin-right: 155px;
        margin-left: 155px;
    }
}

.nav {
    height: 82px;
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: calc(100% - 45px - 45px);
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: var(--black-color-bg);
    justify-content: space-between;

    @include responsive(laptop){
        position: fixed;
        width: calc(100% - 155px - 155px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    &__links{
        display: none;
        @include responsive(laptop){
            display: flex;
            align-items: center;
            gap: 8rem;
        }
    }

    &__text{
        display: none;

        @include responsive(laptop){
            display: block;
            color: white;
            text-transform: uppercase;
            font-family: 'Futura', sans-serif;
            position: relative;
            transition: font-weight .2s;
            

            &:hover{
                cursor: pointer;
                font-weight: 900;
                transition: font-weight .2s;
                &::after{
                    width: 100%;
                    transition: width .2s;
                    
                }
            }

            &::after{
                content: '';
                width: 0%;
                height: 1.4px;
                background-color: white;
                position: absolute;
                bottom: 0;
                transform: translate(-50%);
                left: 50%;
                transition: width .2s;
            }
            
        }
    }

    &__button{
        display: none;
        @include responsive(laptop){
            display: flex;
            color: var(--black-color-bg);
            font-family: 'Futura Italic', sans-serif;
            text-transform: uppercase;
            font-size: .9rem;
            background-color: var(--green-color);
            text-align: center;
            padding: .7rem;
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 37px;
            margin-right: 4rem;
            font-weight: 400;
            position: relative;
            transition: font-weight .2s;
            &::after{
                content: '';
                width: 0;
                height: 1.3px;
                background-color: rgb(0, 0, 0);
                position: absolute;
                bottom: .7rem;
                transform: translate(-50%);
                left: 50%;
                transition: width .2s;
            }
            &:hover{
                cursor: pointer;
                font-weight: 900;
                transition: font-weight .2s;
                &::after{
                    width: calc(100% - 2rem - 2rem);
                    transition: width .2s;
                }
            }
        }
    }

    
}

.logo {
    margin-left: 2rem;
    margin-top: 1rem;
    @include responsive(laptop){
        margin: 0;
        padding: 0;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        &__link{
            position: relative;
            margin-left: 4rem;
            transform: scale(0100%);
            transition: transform .1s;
            &::after{
                content: '';
                width: 0%;
                height: 1px;
                background-color: white;
                position: absolute;
                bottom: 1.5rem;
                transform: translate(-50%);
                left: 50%;
                transition: width .2s;
            }
            &:hover{
                transform: scale(110%);
                transition: transform .2s;
                cursor: pointer;
                &::after{
                    width: 100%;
                    transition: width .2s;
                }
            }
        }
    }
}

.menu-icon{
    margin-top: 1rem;
    width: 30px;
    height: 3px;
    background-color: white;
    position: relative;
    margin-right: 2rem;
    transition: background-color .7s;
    @include responsive(laptop){
        display: none;
    }

    &::after{
        content: '';
        width: 30px;
        height: 3px;
        background-color: white;
        position: absolute;
        transform: translateY(-.6rem);
        transition-property: transform;
        transition-duration: 0.3s;
    }

    &::before{
        content: '';
        width: 30px;
        height: 3px;
        background-color: white;
        position: absolute;
        transform: translateY(.6rem);
        transition-property: transform;
        transition-duration: 0.3s;
    }

    &__container{
        padding: 1rem 0 1.5rem 1rem;
    }
}

.line--cross {
    background-color: transparent;
    transition: background-color .4s;

        &::before {
        transform: rotate(45deg);
        transition-property: transform;
        transition-duration: 0.3s;
        }

        &::after {
            transform: rotate(-45deg);
            transition-property: transform;
            transition-duration: 0.3s;
        }
}
