@use '../mixins/responsive.scss' as *;

.index{
    &--active{
    position: fixed;
    transform: translateY(0rem);
    }
    margin-top: 81.39px;
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    background-color: var(--black-color-bg);
    top: 0rem;
    transform: translateY(-20rem);
    width: calc(100% - 45px - 45px);
    transition: transform .6s;
    z-index: 10;

    @include responsive(laptop){
        transform: translate(0);
        margin-right: 155px;
        margin-left: 155px;
        position: static;
        margin-top: 0;
        width: calc(100% - 155px - 155px);
    }

    &__text{
        margin: 0;
        border-bottom: 1px solid white;
        font-family: 'Futura', sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1.8rem;
        padding-left: 4.5rem;
        position: relative;

            @include responsive(laptop){
                padding: 2.3rem;
                font-size: 2.7rem;
                font-weight: 400;
                padding-left: 8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

        &:hover{
            background-color: var(--green-color);
            color: black;
            cursor: pointer;
            transition: background-color .2s;
            .arrow-right{
                filter: invert(1);
                transform: translateX(4rem);
                transition: transform .2s;
            }
                &::before{
                color: black;
                }
        }

        &::before{
            content: '(01)';
            position: absolute;
            left: 3rem;
            top: 1.7rem;
            font-size: .6rem;
            color: var(--green-color);
            @include responsive(laptop){
                color: white;
                top: 2.2rem;
                left: 4.7rem;
                font-size: .8rem;
                }
        }

        &--2{
            &::before{
                content: '(02)'
            }
        }
        &--3{
            &::before{
                content: '(03)'
            }
        }
    }
}

.arrow-right{
    display: none;
    @include responsive(laptop){
        display: block;
        padding-right: 5rem;
        transition: transform .2s;
    }
}