@use '../mixins/responsive.scss' as *;

@font-face {
    font-family: 'Ade';
    src: url('/public/fonts/Ade-Display.otf');
  }

@font-face {
    font-family: 'Futura';
    src: url('/public/fonts/futura/Futura-Book-font.ttf');
}

@font-face {
    font-family: 'Futura Italic';
    src: url('/public/fonts/futura/Futura-Book-Italic-font.ttf');
}


.landing{
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    height: calc(100vh - 81.39px - 10vh);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive(laptop){
        height: 1050px;
        margin-right: 95px;
        margin-left: 95px;
    }
}

.title{
    font-size: 4.3125rem;
    font-weight: 400;
    margin: 0;

    @include responsive(laptop){
        font-size: 6rem;
    }

    &-container{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        color: white;
        align-items: center ;
        justify-content: center;
        font-family: 'Ade', sans-serif;
        text-transform: uppercase;
        position: relative;
        margin-top: 8rem;
        margin-bottom: 4rem;
            @include responsive(laptop){
            font-size: 6rem;
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
            }
    }


    &--subcontainer{
        @include responsive(laptop){
            display: flex;
            position: relative;
            align-items: center;
            &::after{
                content: 'FRONT END WEB DEVELOPER';
                color: white;
                position: absolute;
                font-size: .9rem;
                font-family: 'Futura', sans-serif;
                right: .6rem;
                left: -6rem;
                bottom: 3rem;
                width: 70px;
                text-align: right;
            }
            &::before{
                content: 'UI DESIGNER';
                display: none;
                @include responsive(laptop){
                    display: block;
                    width: 100px;
                    right: -5rem;
                    bottom: -.9rem;
                    color: white;
                    position: absolute;
                    font-size: .9rem;
                    font-family: 'Futura', sans-serif;
                    line-height: 19px;
                }
            }
        }
    }



    &::after{
        content: '(ED)';
        color: white;
        position: absolute;
        font-size: 1rem;
        font-family: 'Futura', sans-serif;
        top: calc(50% - 9.5rem);
        right: .6rem;
        @include responsive(laptop){
            font-size: .9rem;
            left: -2.5rem;
            top: -1rem;
        }
    }
    &::before{
        content: 'Illustrator & graphic designer';
        display: none;
        @include responsive(laptop){
            display: block;
            width: 90px;
            right: -1.2rem;
            top: 1rem;
            color: white;
            position: absolute;
            font-size: .9rem;
            font-family: 'Futura', sans-serif;
            line-height: 19px;
        }
    }

    
    
}

.circles{
    margin: auto;
    margin-bottom: .5rem;
    @include responsive(laptop){
        margin: 0;
        display: block;
        width: 140px;
        padding-bottom: 1rem;
    }
}

.button{
    display: inline-block;
    color: var(--black-color-bg);
    font-family: 'Futura Italic', sans-serif;
    text-transform: uppercase;
    background-color: var(--green-color);
    text-align: center;
    padding: .7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    border-radius: 37px;
    margin-top: 0rem;
    margin-bottom: 0;
    @include responsive(laptop){
        display: none;
    }
}

.arrow{
    width: 30px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    @include responsive(laptop){
        display: none;
    }
}

