@use '../mixins/responsive.scss' as *;

.section__title{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ade', sans-serif;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    @include responsive(laptop){
        padding-top: 8rem;
        font-size: 2rem;
        padding-bottom: 2rem
    }
}

.section{
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    padding-bottom: 3rem;

    @include responsive(laptop){
        margin-right: 155px;
        margin-left: 155px;
    }
}




@keyframes circle {
    0%{
        transform: scale(0);
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.circle::after, 
.circle::before{
    animation: circle 2s linear infinite;
    content: '';
    border: 2px solid var(--green-color);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    border-radius: 50%;
}


.circle{
    width: 58px;
    height: 58px;
    margin: auto;
    position: relative;
    margin-bottom: 5rem;
    

    &::after {
        opacity: 0;
        animation-delay: 1s;
    }
    
}



