@use '../mixins/responsive.scss' as *;

.section__title{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ade', sans-serif;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    @include responsive(laptop){
        padding-top: 8rem;
        font-size: 2rem;
        padding-bottom: 2rem
    }
}

.section{
    margin-left: 45px;
    margin-right: 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    padding-bottom: 3rem;

    @include responsive(laptop){
        margin-right: 155px;
        margin-left: 155px;
    }
}


.gallery{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    @include responsive(laptop){
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }

    &__item{
        height: 250px;
        position: relative;

        &::after{
            content: '';
                width: 100%;
                height: 100%;
                background-color: var(--green-color-hover);
                position: absolute;
                top: 0;
                opacity: 0;
                transition: opacity .5s;
        }

        &::before{
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-family: 'Futura', sans-serif;
            color: var(--black-color-bg);
            z-index: 1;
            text-transform: uppercase;
            text-align: center;
            font-weight: 900;
            opacity: 0;
            font-size: 2rem;
            transition: opacity .5s;
        }
        &:hover{
            &::after{
                opacity: 1;
                transition: opacity .3s;
            }
            &::before{
                opacity: 1;
            }
            
        }

        &--1{
            &::before{
                content: 'Password generator';
            }
        }
        &--2{
            &::before{
                content: 'To do list';
            }
        }
        &--3{
            &::before{
                content: 'memory card game';
            }
        }
        &--4{
            &::before{
                content: 'Wordle copycat';
            }
        }
        &--5{
            &::before{
                content: 'Quiz game';
            }
        }
        &--6{
            &::before{
                content: 'Restaurant Booking';
            }
        }
        &--7{
            &::before{
                content: 'rock, paper scissors game';
            }
        }
    }

    &__image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: top;
    }
    
}

@keyframes circle {
    0%{
        transform: scale(0);
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.circle::after, 
.circle::before{
    animation: circle 2s linear infinite;
    content: '';
    border: 2px solid var(--green-color);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    border-radius: 50%;
}


.circle{
    width: 58px;
    height: 58px;
    margin: auto;
    position: relative;
    margin-bottom: 5rem;
    

    &::after {
        opacity: 0;
        animation-delay: 1s;
    }
    
}



